<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-02T00:06:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jeffreyding/Desktop/Computer Science Projects/cs32/HW4/hw4problem1/hw4problem1.xcodeproj</string>
</dict>
</plist>
